<nav class="ttr-bottom-nav" aria-label="Основная навигация TTR">
  <a class="ttr-bottom-nav__item{% if ttr_active_feed %} ttr-bottom-nav__item--active{% endif %}"
     href="/ttr-texts/1">
    <span aria-hidden="true">▶</span>
    <span>Лента</span>
  </a>
  <a class="ttr-bottom-nav__item{% if ttr_active_add %} ttr-bottom-nav__item--active{% endif %}"
     href="/ttr-texts/add">
    <span aria-hidden="true">＋</span>
    <span>Добавить</span>
  </a>
  <a class="ttr-bottom-nav__item{% if ttr_active_grid %} ttr-bottom-nav__item--active{% endif %}"
     href="/ttr-texts">
    <span aria-hidden="true">▦</span>
    <span>Корпус</span>
  </a>
</nav>
