<nav class="bottom-nav" aria-label="Основная навигация">
  <a class="bottom-nav__item{% if active_feed %} bottom-nav__item--active{% endif %}" href="/author-texts/1">
    <span aria-hidden="true">▶</span>
    <span>Лента</span>
  </a>
  <a class="bottom-nav__item{% if active_draft %} bottom-nav__item--active{% endif %}" href="/author-texts/draft">
    <span aria-hidden="true">＋</span>
    <span>Добавить</span>
  </a>
  <a class="bottom-nav__item{% if active_grid %} bottom-nav__item--active{% endif %}" href="/author-texts">
    <span aria-hidden="true">▦</span>
    <span>Корпус</span>
  </a>
</nav>
